<div class="followers">

<span class="plain-select">
 <select class="inp"  name="test">
   <option value="Followers"><p>Followers (<%= user.followers.count %>)</p></option>
   <%= user.followers.each do |follower| %>
     <option value="<%= follower.html_url %>"><%= follower.login %></option>
   <% end %>
 </select>
 </span>

 <span class="plain-select">
  <select class="inp"  name="test">
   <option value="following"><p>Following (<%= user.followings.count %>)</p></option>
   <%= user.followings.each do |following| %>
   <option value="<%= following.html_url %>"><%= following.login %></option>
   <% end %>
 </select>
</span>

 <span class="plain-select">
  <select class="inp"  name="test">
   <option value="watching"><p>Watching (<%= user.watching.count %>)</p></option>
   <%= user.watching.each do |watch| %>
     <option value="<%= watch.github_profile %>"><%= watch.username %></option>
   <% end %>
 </select>
</span>

 <span class="plain-select">
  <select class="inp"  name="test">
   <option value="watchers"><p>Watchers (<%= user.get_watchers.count %>)</p></option>
   <%= user.get_watchers.each do |watcher| %>
     <option value="<%= watcher.github_profile %>"><%= watcher.username %></option>
   <% end %>
 </select>
</span>

</div>
