<div class="">

</div>

<%@users.each do |user| %>
  <% if user != current_user %>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img class="image_index" src="<%= user.avatar_url %>" >
          <div class="caption">
            <h3><b><%= user.username %></b></h3>
            <% if current_user.watching.include?(user) %>
                <%= form_for user, url: users_delete_watch_path, method: "post" do |f| %>
                  <%= f.hidden_field :user_id, value: user.id  %>
                  <input type="submit" class="btn btn-primary" value="Delete Watch">
                <% end %>
                <a href="<%user.github_profile %>" class="btn btn-primary" role="button">Github Profile</a>
            <% else %>
              <%= form_for user, url: users_add_watch_path, method: "post" do |f| %>
                <%= f.hidden_field :user_id, value: user.id  %>
                <input type="submit" class="btn btn-primary" value="Keep Watch">
              <% end %>
              <a href="<%user.github_profile %>" class="btn btn-primary" role="button">Github Profile</a>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
<% end %>
