<ul id="menu">
  <li data-menuanchor="thirdPage"><a href="/">Search</a></li>
  <li data-menuanchor="secondPage"><a href="/users/<%= current_user.id %>">User Profile</a></li>
  <li><%= link_to("Sign out", destroy_user_session_path, method: "delete") if user_signed_in?%></li>
</ul>


<%@users.each do |user| %>
  <% if user != current_user %>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img class="image_index" src="<%= user.avatar_url %>" >
          <div class="caption">
            <h3><b><%= user.username %></b></h3>
            <% if current_user.watching.include?(user) %>
              <div class="forms">
                <%= form_for user, url: users_delete_watch_path, method: "post" do |f| %>
                  <%= f.hidden_field :user_id, value: user.id  %>
                  <input type="submit" class="btn btn-primary" value="Delete Watch">
                <% end %>
                <form method="get" action="<%= user.github_profile %>" target="_blank" >
                  <button type="submit" class="btn btn-primary" >Github Profile</button>
                </form>
              </div>
            <% else %>
              <div class = "forms">
                <%= form_for user, url: users_add_watch_path, method: "post" do |f| %>
                  <%= f.hidden_field :user_id, value: user.id  %>
                  <input type="submit" class="btn btn-primary" value="Keep Watch">
                <% end %>
                <form method="get" action="<%= user.github_profile %>" target="_blank" >
                    <button type="submit" class="btn btn-primary" >Github Profile</button>
                  </form>  
              </div>
              
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
<% end %>
