<script type="text/javascript">
  // This is bad practice. Needs to be refactored.
  window.currentUser = {
      id: "<%= current_user.id %>",
      username: "<%= current_user.username %>",
      repos_url: "<%= current_user.repos_url %>",
      token: "<%= current_user.token %>"
  }
</script>
<ul id="menu">
  <li data-menuanchor="firstPage"><a href="#firstPage">First slide</a></li>
  <%= link_to("User Profile", user_path(current_user), 'class': 'btn btn-primary' ) %>
  <%= link_to("Sign out", destroy_user_session_path, method: "delete") if user_signed_in?%>
</ul>

<div class="section active" id="section0" data-anchor="firstPage">
  <h2 class="search-heading">Search Github User Below</h2>
  <form class="form-wrapper cf">
      <input type="text" placeholder="Search here..." required>
      <button type="submit">Search</button>
  </form>
</div>

<div id="section1"></div>

<div id="section2"></div>

<script id="searched-user" type="text/x-handlebars-template">
  {{#this}}
    <div class="user_icon">
      <img class="image" src="{{this.avatar_url}}">
      <p><a href="{{this.profile_url}}">{{this.username}}</a></p>
    </div>
    <table>
      <tr>
        <th style="text-align:right; padding: 5px">Joined on:</th>
        <td style="text-align:left; padding: 5px">{{this.created_at}}</td>
      </tr>
      <tr>
        <th style="text-align:right; padding: 5px">Updated on:</th>
        <td style="text-align:left; padding: 5px">{{this.updated_at}}</td>
      </tr>
    </table>
  {{/this}}
</script>


<script id="searched-user-charts" type="text/x-handlebars-template">
    <div class="slide">
      <div class="intro">
        <h2 class="title">LANGUAGES</h2>
        <canvas id="pieChart" width="600" height="600"></canvas>
      </div>
    </div> <!-- /.slide -->

    <div class="slide active" >
      <div class="intro">
        <h2 class="title">REPOS</h2>
        <canvas id="barChart" height="600" width="600"></canvas>
      </div>
    </div> <!-- /.slide -->

    <div class="slide">
      <div class="intro">
        <h2 class="title">COMMITS</h2>
        <canvas id="commitsChart" height="700" width="700"></canvas>
      </div>
    </div> <!-- /.slide -->
</script>